@model HotelManagementSystem.Models.About

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>About</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeaderContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeaderContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AboutID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
