@model IEnumerable<HotelManagementSystem.Models.About>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AboutImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeaderContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeaderContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AboutID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AboutID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AboutID })
        </td>
    </tr>
}

</table>
